@model SistemaAtlantida.Models.CuentaModel;
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <p>@Model.NombreTitular</p>
        <a asp-action="Compras">Ver compras</a>
        <a asp-action="Pagos">Hacer un pago</a>
    <p>Monto Reciente Total: @ViewBag.MontoRecienteTotal</p>
</div>
