.main-container {
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}

.section-title {
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Neo-Sans';
    margin: 0;
    padding: 0;
}

.button-box {
    text-decoration: none;
    background-color: #D9272E;
    padding-block: 26px;
}

.button-text {
    color: white;
    font-family: 'Neo-Sans';
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    text-align: center
}

thead {
    background-color: #D9272E;
}

th{
    color: white;
}

.pagination-button {
    background-color: #D9272E;
    color: white;
    font-size: 1rem;
    font-family: 'Neo-Sans';
    padding-block: 8px;
    width: 90px;
}

.pagination-button:hover{
    color: white;
}

@media(min-width: 768px) {
    .button-box{
        padding-block: 12px;
        max-width: 130px;
    }

    .controls-container {
        max-width: 270px;
    }

}

@media(min-width: 1200px){
    
    th {
        font-size: 1.3rem;
    }

    td{
        font-size: 1.2rem;
    }
}