<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaAtlantida</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaAtlantida.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar border-bottom box-shadow mb-3 nav-header">
            <div class="container-fluid layout-container">
                <a class="navbar-brand text-white mx-auto fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Sistema Atlantida</a>
            </div>
        </nav>
    </header>
    <div class="body-container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted mt-auto">
        <div class="container-fluid layout-container py-4">
            &copy; 2023 - SistemaAtlantida - <a href="https://github.com/CarlosPortillo11" class="text-decoration-none text-muted">Carlos Portillo</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
