html {
  font-size: 14px;
}

@font-face {
    font-family: 'Neo-Sans';
    src: url('Neo-Sans-Regular.otf');
}

@font-face{
    font-family: 'Neo-Sans-Bold';
    src: url('Neo-Sans-Bold.otf');
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-header {
    background-color: #D9272E
}

.nav-brand {
    color: white;
    text-align: center
}

.body-container {
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}